body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    background:#f1f4f8;
}

/* HEADER */

header{
    background:linear-gradient(135deg,#0077b6,#0096c7);
    color:white;
    text-align:center;
    padding:40px;
}

header h1{
    margin:0;
    font-size:42px;
}

header p{
    margin-top:10px;
    font-size:18px;
}

/* CONTAINER */

.container{
    max-width:900px;
    margin:auto;
    padding:20px;
}

/* CARDS */

.card{
    background:white;
    padding:25px;
    border-radius:12px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    margin-top:30px;
}

/* LISTA */

.lista{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:15px;
}

.local{
    padding:18px;
    border-radius:8px;
    font-weight:bold;
    color:white;
}

/* NÍVEIS DE ALERTA */

.baixo{
    background:#2a9d8f;
}

.medio{
    background:#f4a261;
}

.alto{
    background:#e63946;
}

/* FOOTER */

footer{
    text-align:center;
    margin-top:40px;
    padding:20px;
    background:#1d1d1d;
    color:white;
}